<app-image-slider [sliders]="imageSliders$ | async"> </app-image-slider>
<div class="purchase" style="height: 100%;background-color: #fff">
  <div style="width: 100%;">
    <InputItem [placeholder]="'姓名'" [focus]="titleFocus" [content]="contentlabel1">
      <ng-template #contentlabel1>
        <span (click)="clickTitle()">姓名</span>
      </ng-template>
    </InputItem>
  </div>
  <div style="width: 100%;">
    <InputItem [placeholder]="'电话'" [focus]="titleFocus" [content]="contentlabel2">
      <ng-template #contentlabel2>
        <span (click)="clickTitle()">电话</span>
      </ng-template>
    </InputItem>
  </div>
  <div style="width: 100%;">
    <InputItem [placeholder]="'代购地点'" [focus]="titleFocus" [content]="contentlabel3">
      <ng-template #contentlabel3>
        <span (click)="clickTitle()">代购地点</span>
      </ng-template>
    </InputItem>
  </div>
  <div style="width: 100%;">
    <InputItem [placeholder]="'代购商品'" [focus]="titleFocus" [content]="contentlabel4">
      <ng-template #contentlabel4>
        <span (click)="clickTitle()">代购商品</span>
      </ng-template>
    </InputItem>
  </div>
  <div style="width: 100%;">
    <!-- <InputItem [placeholder]="'商品数量'" [focus]="titleFocus" [content]="contentlabel7">
      <ng-template #contentlabel7>
        <Stepper [value]="goodsNum" [min]="1" [showNumber]="true" (onChange)="change($event)"></Stepper>
      </ng-template>
    </InputItem> -->
    <List style="border-bottom: 1px solid gainsboro;">
      <ListItem [extra]="stepper">商品数量</ListItem>
      <ng-template #stepper>
        <Stepper [value]="goodsNum" [min]="1" [showNumber]="true" (onChange)="change($event)"></Stepper>
      </ng-template>
    </List>
  </div>
  <div style="width: 100%;">
    <InputItem [placeholder]="'送货时间'" [focus]="titleFocus" [content]="contentlabel5">
      <ng-template #contentlabel5>
        <span (click)="clickTitle()">送货时间</span>
      </ng-template>
    </InputItem>
  </div>
  <div style="width: 100%;">
    <List [className]="'date-picker-list'">
      <ListItem DatePicker [extra]="currentDateFormat(value)" [arrow]="'horizontal'" [mode]="'datetime'"
        [(ngModel)]="value" (onOk)="onOk($event)">
        Datetime
        <Brief>{{ name }}</Brief>
      </ListItem>
    </List>
  </div>
  <div style="width: 100%;text-align: center;margin-top: 15%;">
    <div Button style="margin:0 auto;" [type]="'primary'" [inline]="true">提交下单</div>
  </div>
</div>